.brands {
  /* overflow: hidden; */
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;

  .imageContainer {
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    height: 580px;

    &:hover {
      .img {
        scale: 1.05;
      }
    }

    .img {
      width: 106%;
      height: 100%;

      object-fit: cover;
      object-position: center;
      transition: all 0.3s ease-in-out;
    }
  }
}
