.wrapper {
  position: relative;
  width: 100%;

  .label {
    width: 100%;
    .input {
      width: 100%;
      padding: 16px 16px 16px 52px;
      border: none;
      border-radius: 50px;
      font-size: 14px;
      background-color: var(--white-secondary);

      &:focus {
        outline: none;
        border: 1px solid var(--deep-sea-exploration);
        color: var(--main-black);
      }

      &:focus + .icon {
        fill: var(--main-black);
      }
    }

    .icon {
      fill: var(--gray-primary);
      position: absolute;
      left: 24px;
      top: 50%;
      translate: 0 -50%;
    }

    .errorMsg {
      position: absolute;
      pointer-events: none;
      z-index: 7;
      left: 28px;
      bottom: 0;
      translate: 0 100%;
      font-size: 12px;
      color: var(--error-c);

      & + .input {
        border: 1px solid var(--error-c);
        color: var(--error-c);

        &::placeholder {
          color: var(--error-c);
        }

        & + .icon {
          fill: var(--error-c);
        }
      }
    }
  }

  .eyeBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 24px;
    top: 50%;
    translate: 0 -50%;
    background-color: transparent;
    cursor: pointer;
    padding: 6px;

    .iconEye {
      fill: var(--gray-primary);
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      .iconEye {
        scale: 1.2;
      }
    }
  }
}
