.authButtonsGroup {
  width: 100%;
  min-width: 120px;
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid var(--dark-royalty);
  display: flex;
  justify-content: center;
  padding: 12px;
  border-radius: 100px;

  .logout,
  .login,
  .registration {
    background-color: transparent;
    color: var(--dark-royalty);
    text-align: center;
    position: relative;
    font-size: 14px;
    font-weight: 600;
    padding: 0 12px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    overflow: hidden;

    &:hover {
      color: var(--yellow);
    }
  }

  .login {
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      translate: 0 -50%;
      right: 0;
      background-color: var(--dark-royalty);
      height: 14px;
      width: 1px;
    }
  }
}
