.googleContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  margin-bottom: 20px;

  .chooseText {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
    color: var(--gray-input-c);
    font-size: 14px;
    text-wrap: nowrap;

    &::before,
    &::after {
      content: "";
      background: var(--gray-input-c);
      width: 100%;
      height: 1px;
    }
  }

  .googleLink {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 48px;
    width: 100%;
    max-width: 344px;
    overflow: hidden;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    cursor: pointer;

    &:hover,
    &:focus {
      .text {
        background-color: var(--google-btn-hover-bg);
      }
    }

    .text {
      padding: 4px 0;
      width: 100%;
      text-align: center;
      font-size: 16px;
      background-color: var(--google-btn-bg);
      color: var(--white);
    }

    .googleIcon {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 48px;
      background-color: var(--white);
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
    }
  }
}
