.googleLink {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid var(--text-secondary);
  padding: 12px;

  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 340px;
  border-radius: 50px;

  .icon {
    transition: all 0.3s ease-in-out;
  }

  &:hover,
  &:focus {
    background: linear-gradient(
      90deg,
      var(--white),
      var(--white-hover),
      var(--white),
      var(--white-hover),
      var(--white)
    );

    .icon {
      scale: 1.2;
    }
  }
}
