.wrapper {
  margin-bottom: 20px;

  .chooseText {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
    color: var(--gray-primary);
    font-size: 14px;
    text-wrap: nowrap;
    margin-bottom: 20px;

    &::before,
    &::after {
      content: "";
      background: var(--white-secondary);
      width: 100%;
      height: 1px;
    }
  }

  .googleLink {
    width: 100%;
    border: 1px solid var(--white-secondary);
    padding: 12px;

    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 340px;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;

    .icon {
      transition: all 0.3s ease-in-out;
    }

    &:hover,
    &:focus {
      border-color: var(--deep-sea-exploration);

      .icon {
        scale: 1.2;
      }
    }
  }
}
