.header {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px;
  position: fixed;
  top: 0;
  left: 50%;
  translate: -50% 0;
  z-index: 999;
}

@media screen and (min-width: 1158px) {
  .header {
    padding: 24px 100px;
  }
}
