.menu {
  background: linear-gradient(to bottom, #f1f0f0, #ffffff 3%);
  padding: 12px;
  position: absolute;
  inset: 0;
  z-index: 4;
  min-height: 100vh;
  height: max-content;
  transition: all 0.3s ease-in-out;
  animation: bounce 0.5s ease-in-out forwards;

  .menuCategories,
  .menuBrands,
  .menuLanguage {
    font-size: 16px;
    font-weight: 600;
    margin-top: 16px;
    margin-left: 10px;
  }

  .menuList {
    list-style: disc;
    padding: 10px;
    margin: 0;
    margin-left: 10px;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.closed {
  opacity: 0;
  pointer-events: none;
  translate: 0 -100%;
}

.open {
  translate: 0 0;
  opacity: 1;
  pointer-events: auto;
}
