.section {
  position: relative;
  padding: 40px 30px;

  .title {
    font-weight: 700;
    text-align: center;
    text-wrap: balance;
    font-size: 24px;
    margin-bottom: 20px;
  }

  .text {
    font-size: 14px;

    .linkToLogin {
      color: inherit;
      text-decoration: underline;
      font-size: inherit;

      &:hover,
      &:focus {
        color: var(--deep-sea-exploration);
      }
    }
  }
}
