.searchLastRequests {
  .searchLastRequestsHeader {
    border-top: 1px solid var(--gray-secondary);
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;

    .title {
      font-size: 12px;
      font-weight: 400;
      color: var(--gray-primary);
    }

    .removeAllBtn {
      background-color: transparent;
      position: relative;
      font-size: 12px;
      font-weight: 400;
      color: var(--gray-primary);
      padding: 0 4px;
      transition: all 0.3s ease-in-out;
      overflow: hidden;

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateX(-100%);
        opacity: 0;
        width: 100%;
        height: 1px;
        background-color: var(--gray-primary);
        transition: all 0.4s ease-in-out;
      }

      &:hover {
        &::before {
          transform: translateX(0);
          opacity: 1;
        }
      }
    }
  }

  .lastRequestsList {
    .lastRequestsItem {
      display: flex;
      gap: 10px;
      align-items: center;
      &:has(+ .lastRequestsItem) {
        margin-bottom: 10px;
      }

      .request {
        width: 100%;
        display: flex;
        gap: 10px;
        align-items: center;
        cursor: pointer;

        transition: all 0.3s ease-in-out;
        position: relative;
        overflow: hidden;

        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          transform: translateX(-100%);
          opacity: 0;
          width: 100%;
          height: 1px;
          background-color: var(--main-black);
          transition: all 0.4s ease-in-out;
        }

        &:hover {
          &::before {
            transform: translateX(0);
            opacity: 1;
          }
        }

        .clockIcon {
          pointer-events: none;
          fill: var(--main-black);
        }

        .requestText {
          font-size: 14px;
        }
      }
    }

    .deleteBtn {
      width: 16px;
      height: 16px;
      align-content: center;
      background-color: transparent;

      .removeRequestIcon {
        display: block;
        stroke: var(--gray-primary);
        transition: all 0.3s ease-in-out;

        &:hover {
          scale: 1.2;
        }
      }
    }
  }
}
