:root {
  --main-black: rgb(27, 27, 27);
  --midnight-blue: rgb(4, 1, 54);
  --dark-royalty: rgb(3, 8, 112);
  --deep-sea-exploration: rgb(34, 1, 178);
  --duranta-yellow: rgb(216, 231, 51);
  --yellow: rgb(201, 219, 14);
  --orange: rgb(254, 189, 1);
  --rose: rgb(254, 68, 69);
  --error-c: rgb(226, 44, 62);
  --white: rgb(255, 255, 255);
  --gray-primary: rgb(162, 166, 171);
  --gray-secondary: rgb(211, 211, 211);
  --text-secondary: rgb(235, 235, 240);
  --white-dirty: rgb(235, 235, 237);
  --white-secondary: rgb(243, 244, 246);
  --cream-bg: rgb(242, 242, 242);
  --blur-bg: rgba(213, 213, 213, 0.4);
}
