:root {
  --black: rgb(0, 0, 0);
  --main-black: rgb(27, 27, 27);
  --black-bg: rgb(41, 40, 40);
  --midnight-blue: rgb(4, 1, 54);
  --dark-royalty: rgb(3, 8, 112);
  --deep-sea-exploration: rgb(34, 1, 178);
  --duranta-yellow: rgb(216, 231, 51);
  --orange: rgb(254, 189, 1);
  --rose: rgb(254, 68, 69);
  --error-c: rgb(226, 44, 62);
  --white: rgb(255, 255, 255);
  --gray-primary: rgb(164, 164, 164);
  --gray-secondary: rgb(217, 217, 217);
  --text-primary: rgb(143, 143, 143);
  --text-secondary: rgb(235, 235, 240);
  --text-c: rgb(71, 76, 82);
  --gray-input-c: rgb(143, 151, 163);
  --gray-input-bg: rgb(244, 244, 249);
  --white-dirty: rgb(235, 235, 237);
  --white-secondary: rgb(243, 244, 246);
}
