.searchForm {
  width: 100%;
  min-height: 56px;
  position: absolute;
  top: -16%;

  .searchInput {
    width: 100%;
    padding: 16px;
    border-radius: 100px;
    position: absolute;
    z-index: 1;
  }

  .searchBtn {
    position: absolute;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    z-index: 2;
    right: 12px;
    bottom: 50%;
    translate: 0 50%;
  }
}
