.searchForm {
  width: 100%;
  min-height: 80px;
  position: relative;
  border-top: none;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;

  .searchContainer {
    position: absolute;
    z-index: 6;
    top: 0;
    left: -10px;
    width: calc(100% + 20px);
    border-radius: 100px;
    background-color: var(--blur-bg);
    padding: 10px;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    .searchInput {
      width: 100%;
      padding: 20px 140px 20px 20px;
      border-radius: 100px;
      outline: none;
      border: none;
      z-index: 3;
      font-size: 14px;
      font-weight: 600;

      &:active + .searchBtn,
      &:focus + .searchBtn {
        background-color: var(--deep-sea-exploration);
      }
    }

    .searchBtn {
      position: absolute;
      border-radius: 100px;
      width: max-content;
      z-index: 2;
      right: 20px;
      top: 50%;
      translate: 0 -50%;
      padding: 10px 20px;
      background-color: var(--main-black);
      transition: all 0.3s ease-in-out;
      display: flex;
      align-items: center;
      gap: 10px;

      &:hover {
        background-color: var(--deep-sea-exploration);
      }

      .searchBtnText {
        color: var(--white);
        font-size: 14px;
        font-weight: 600;
      }

      .searchIcon {
        fill: var(--white);
      }
    }

    @media screen and (max-width: 375px) {
      .searchBtn {
        padding: 10px;

        .searchBtnText {
          display: none;
        }
      }
      .searchInput {
        padding-right: 64px;
      }
    }
  }

  .categoriesContainer {
    position: absolute;
    z-index: 5;
    translate: 0 -100%;
    opacity: 0;
    pointer-events: none;
    background-color: transparent;
    padding-top: 60px;
    transition: all 0.3 ease-in-out;

    .categoriesWrapper {
      padding: 36px 10px 16px;
      background-color: var(--white);
      border-bottom-right-radius: 12px;
      border-bottom-left-radius: 12px;

      .categoriesList {
        display: flex;
        flex-wrap: wrap;
        gap: 6px;
        margin-bottom: 14px;

        .categoryItem {
          width: max-content;
          border: 1px solid var(--main-black);
          border-radius: 100px;
          overflow: hidden;

          &:hover {
            background-color: var(--main-black);

            .categoryLabel {
              color: var(--yellow);
              &::before {
                background-color: var(--yellow);
                box-shadow: 0 0 1px var(--yellow);
              }
            }
          }

          .categoryCheckbox:checked + .categoryLabel {
            color: var(--yellow);
            background-color: var(--main-black);

            &::before {
              background-color: var(--yellow);
              box-shadow: 0 0 1px var(--yellow);
            }
          }

          .categoryLabel {
            display: flex;
            align-items: center;
            gap: 4px;
            font-size: 14px;
            font-weight: 500;
            cursor: pointer;
            padding: 6px;

            &::before {
              content: "";
              display: block;
              width: 4px;
              height: 4px;
              border-radius: 50%;
              background-color: var(--main-black);
            }
          }
        }
      }
    }
  }

  .open {
    translate: 0 0;
    opacity: 1;
    pointer-events: all;
  }
}
