.section {
  position: relative;
  padding: 40px 30px;

  .title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .descr,
  .errorMessage {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .errorMessage {
    color: var(--error-c);
  }
  .forgotPasswordBtn {
    display: block;
    width: max-content;
    margin-left: auto;
    margin-bottom: 20px;
    text-decoration: underline;
    background-color: transparent;

    &:hover {
      color: var(--deep-sea-exploration);
    }
  }
}
