.section {
  position: relative;

  .title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .descr {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .linkForgotPassword {
    display: block;
    width: max-content;
    margin-left: auto;
    margin-bottom: 20px;
    color: var(--main-black);
    text-decoration: underline;

    &:hover {
      color: var(--deep-sea-exploration);
    }
  }

  @media screen and (max-width: 320px) {
    .descr {
      font-size: 12px;
    }
  }
}
