.closeBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-black);
  transition: all 0.3s ease-in-out;
  padding: 10px;
  border-radius: 50%;

  .icon {
    stroke: var(--white);
  }

  @media screen and (max-width: 374px) {
    .icon {
      width: 16px;
      height: 16px;
    }
  }

  &:hover {
    background-color: var(--dark-royalty);
  }
}

@media screen and (max-width: 374px) {
  .closeBtn {
    padding: 6px;
  }
}
