.footer {
  padding: 18px 0;
  background-color: var(--gray-primary);
  position: absolute;
  bottom: 0;
  width: 100%;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
