.logoLink {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;

  .logoIcon {
    fill: var(--dark-royalty);

    &:hover {
      fill: var(--deep-sea-exploration);
    }
  }

  @media screen and (max-width: 374px) {
    .logoIcon {
      width: 48px;
      height: 32px;
    }
  }

  .logoForFooter {
    fill: var(--white);
    width: 112px;
    height: 74px;

    &:hover {
      fill: var(--white-dirty);
    }
  }
}

.footerGrid {
  grid-area: a;
}
