:root {
  --black: #000;
  --white: #fff;
  --gray-primary: #a4a4a4;
  --gray-secondary: #d9d9d9;
  --gray-input-c: rgba(143, 151, 163, 1);
  --gray-input-bg: #f4f4f9;
  --google-btn-bg: #4285f4;
  --google-btn-hover-bg: #427cd8;
}

body {
  margin: 0;
  min-height: 100vh;
  position: relative;
}

*,
*::before,
*::after {
  font-family: sans-serif;
  box-sizing: inherit;
  /* font-family: var(--Font-family); */
  font-size: 16px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  /* color: var(--Main); */
}

ul {
  list-style: none;
  text-decoration: none;
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
}

.container {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 40px 30px;
}

@media screen and (min-width: 390px) {
  .container {
    max-width: 390px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 67px 107px 54px;
  }
}
