:root {
  --black: #000;
  --black-hover: #292828;
  --white: #ffffff;
  --gray-primary: #a4a4a4;
  --gray-secondary: #d9d9d9;
  --text-secondary: #ebebf0;
  --text-c: #474c52;
  --gray-input-c: #8f97a3;
  --gray-input-bg: #f4f4f9;
}

body {
  margin: 0;
  min-height: 100vh;
  position: relative;
}

*,
*::before,
*::after {
  font-family: sans-serif;
  box-sizing: inherit;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  /* color: var(--Main); */
}

ul {
  list-style: none;
  text-decoration: none;
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
}

.container {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 40px 30px;
}

@media screen and (min-width: 390px) {
  .container {
    max-width: 400px;
    border: 1px solid red;
  }
}
/* @media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 67px 107px 54px;
  }
} */

button {
  cursor: pointer;
  border: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  outline: 0;
  outline-offset: 0;
}
