.nav {
  width: 100%;

  .navList {
    display: flex;
    justify-content: space-between;

    .advert {
      align-content: center;

      .advertLink {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 10px;
        border-radius: 100px;
        background-color: var(--dark-royalty);
        transition: all 0.3s ease-in-out;

        &:hover {
          box-shadow: 2px 2px 3px -2px var(--deep-sea-exploration);
          background-color: var(--deep-sea-exploration);
        }

        .advertText {
          font-size: 12px;
          font-weight: 600;
          color: var(--white);
          text-wrap: nowrap;
          text-overflow: ellipsis;
        }

        .advertIconWrapper {
          width: 24px;
          height: 24px;
          border-radius: 50%;
          background-color: var(--white);
          display: flex;
          align-items: center;
          justify-content: center;

          .advertIcon {
            fill: var(--main-black);
          }
        }
      }

      @media screen and (max-width: 374px) {
        .advertLink {
          padding: 4px;
        }
      }
    }

    .favorites,
    .notifications,
    .menu {
      align-content: center;

      .favoritesLink,
      .notificationsLink {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--cream-bg);
        padding: 10px;
        border-radius: 50%;
        transition: all 0.3s ease-in-out;

        .iconBell {
          fill: var(--gray-primary);
          transition: all 0.4s ease-in-out;
        }

        .iconHart {
          stroke: var(--gray-primary);
          fill: transparent;
          transition: all 0.4s ease-in-out;
        }

        @media screen and (max-width: 374px) {
          .iconBell,
          .iconHart {
            width: 16px;
            height: 16px;
          }
        }

        &:hover {
          box-shadow: 2px 2px 3px -2px var(--deep-sea-exploration);
          .iconBell {
            fill: var(--dark-royalty);
          }
          .iconHart {
            stroke: var(--dark-royalty);
          }
        }
      }

      @media screen and (max-width: 374px) {
        .favoritesLink,
        .notificationsLink {
          padding: 6px;
        }
      }
    }
  }

  @media screen and (min-width: 420px) {
    .navList {
      justify-content: flex-end;
      gap: 20px;
    }
  }
}
