.nav {
  width: 100%;

  .navList {
    display: flex;
    justify-content: space-between;
    margin-left: 16px;

    .advert {
      width: 160px;
      height: 44px;
      align-content: center;

      .advertLink {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        border-radius: 100px;
        background-color: var(--gray-secondary);

        .advertText {
          font-size: 14px;
          font-weight: 600;
        }

        .advertIconWrapper {
          width: 24px;
          height: 24px;
          border-radius: 50%;
          background-color: var(--white);
          display: flex;
          align-items: center;
          justify-content: center;

          .advertIcon {
            fill: var(--main-black);
          }
        }
      }
    }

    .favorites,
    .notifications {
      align-content: center;

      .favoritesLink,
      .notificationsLink {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
